{% extends 'tracker/index.html' %}

{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/assets.css' %}">
<div class="container">
    <h1>Assets</h1>


    <h2>
        ideas
    </h2>
    <br>

    <h2>loading screen</h2>
    <h2>assets calc</h2>
    <h2>balacne calc tax abgaben und was netto bleibt</h2>
    <h2>alle von index ausgehen / sprich alle von index extenden</h2>
    <h2>funktionen in views in eigene klasse auslagern</h2>
    <h2>income per month but not per month</h2>

    <h2>texterkennung von quitungen </h2>
</div>

<script defer src="{% static 'js/assets.js' %}"></script>
{% endblock %}