{% extends 'tracker/indexbalance.html' %}

{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/balance.css' %}">
<div class="container">
    <div class="income-table-container">
        <table>
            <thead>
                <tr>
                    <th style="width: 60%">Category</th>
                    
                    <th>Percent</td>
                    <th>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Income (Tax)</td>
                    
                    <td></td>
                    <td>{{taxincomesum}}</td>
                </tr>
                <tr>
                    <td>&emsp;Kirchensteuer</td>
                    
                    <td>{{KS}}</td>
                    <td>({{KSA}})</td>
                    
                </tr>
                <tr>
                    <td>&emsp;Rentenversicherung</td>
                   
                    <td>{{RV}}</td>
                    <td>({{RVA}})</td>
                    
                </tr>
                <tr>
                    <td>&emsp;Krankenversicherung</td>
                    
                    <td>{{KV}}</td>
                    <td>({{KVA}})</td>
                    
                </tr>
                <tr>
                    <td>&emsp;Arbeitslosenversicherung</td>
                    
                    <td>{{AV}}</td>
                    <td>({{AVA}})</td>
                    
                </tr>
                <tr>
                    <td>&emsp;Pflegeversicherung</td>
                   
                    <td>{{PV}}</td>
                    <td>({{PVA}})</td>
                    
                </tr>
                <tr>
                    <td>&emsp;Summe Abgabgen</td>
                    
                    <td></td>
                    <td>({{SummeAbgaben}})</td>
                    
                </tr><tr>
                    <td>Income post tax</td>
                   
                    <td></td>
                    <td>{{posttax}}</td>
                    
                </tr>
    
                <tr>
                    <td>Income (Wihtout Tax)</td>
                    
                    <td></td>
                    <td>{{ntaxincomesum}}</td>
                </tr>
                <tr>
                    <td>Total income (PostTax)</td>
                    
                    <td></td>
                    <td><h2>{{totalincome}}</h2></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <tbody>
                <tr>
                    <td style="width: 60%">Sum Expenses</td>
                    <td>{{sumcostsrate}}</td>
                    <td>{{sumcosts}}</td>
                </tr>
                <tr>
                    <td>Sum Fixed Costs</td>
                    <td>{{sumfixedcostsrate}}</td>
                    <td>{{sumfixedcosts}}</td>
                </tr>
                <tr>
                    <td>Savingsplan</td>
                    <td>{{sparplanrate}}</td>
                    <td>{{sparplan}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <tbody>
                <tr>
                    <td><h3>Profit</h3></td>
                    <td></td>
                    <td>Profit/Loss</td>
                </tr>
                <tr>
                    <td style="width: 60%">&emsp;ohne Sparplan</td>
                    <td></td>
                    <td>{{ohnesparplan}}</td>
                </tr>
                <tr>
                    <td style="width: 60%">&emsp;mit Sparplan</td>
                    <td></td>
                    <td><h2>{{mitsparplan}}</h2></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-expenses">
        <table>
            <thead>
                <tr>
                    <th style="width: 70%">Category</th>
                    
                    <th>Percent</td>
                    <th>Amount</td>
                </tr>
            </thead>
            <tbody>
                {% for i in purposelist %}
                <tr>
                    <td>{{i.purpose}}</td>
                    <td>{{i.percent}}</td>
                    <td>{{i.expense}}</td>
                </tr>
                {%endfor%}
                <tr>
                    <td>Sum Expenses</td>
                    <td></td>
                    <td><h2>{{sumcosts}}</h2></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <thead>
                <tr>
                    <th style="width: 70%">Fixed Cost</th>
                    <th>Percent</th>
                    <th>amount</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in fixedCosts %}
                <tr>
                    <td>{{i.purpose}}</td>
                    <td>{{i.percent}}</td>
                    <td>{{i.amount}}</td>
                </tr>
                {%endfor%}
                <tr>
                    <td><h2>Sum</h2></td>
                    <td></td>
                    <td><h2>{{sumfixedcosts}}</h2></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script defer src="{% static 'js/balance.js' %}"></script>
{% endblock %}