{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cardsindex.css' %}">
</head>
<body>
    <header>
        <div class="navigation">
            <ul>
                
                <li class="list">
                    <a href="/cards">
                        <span class="text">home</span> 
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon> 
                        </span>   
                    </a>
                    
                </li>
                <li class="list">
                    <a href="/">
                        <span class="icon"><ion-icon  name="cloud-upload-outline"></ion-icon>   </span> 
                        <span class="text">upload</span>   
                    </a>
                </li>
                <li class="list">
                    <a href="/cards">
                        <span class="icon"><ion-icon name="file-tray-full-outline"></ion-icon> </span>   
                        <span class="text">projects</span>
                          
                    </a>
                </li>
                <li class="list">
                    <a href="/tracker">
                        <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon> </span>
                        <span class="text">tracker</span>
                          
                    </a>
                </li>
                <li class="list">
                    <a href="/">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon> </span>   
                        <span class="text">contact</span> 
                           
                    </a>
                </li>
                <br>
                
                
                
            </ul>
            </div>
    
            <div class="username">
                <h2 class="prefix"><ion-icon name="person-outline"></ion-icon> hello:</h2>
                <h2 class="username1">{{user}}</h2>
            </div>
    
            <div class="logout">
                <ul>
                <li class="list">
                    <a href="/logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>    
                        <span class="text">logout</span>   
                    </a>
                    
                </li>
            </ul>
         </div>
        </div>
    </header>
    <div class="main">
        {% block content%}
        {% endblock%}
    </div>
    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>