
{% extends 'cards/indexup.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/show_project.css' %}">

<div class="container">
    <div class="container-header">
        <button class="showAddCardFormButton" id="showAddCardFormButton">addCard</button>
        <button class="showModalButton" id="show-modal">showmodal</button>
        <h1><span>project name: </span> {{project.name}}</h1>
        <h1><span>project id: </span> {{row_id}}</h1>
    </div>
    <div class="container-main">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Front</th>
                    <th>back</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td> {{card.id}}</td>
                    <td> {{card.title}}</td>
                    <td> {{card.front}}</td>
                    <td> {{card.back}}</td>
                    <td> <a href=""><ion-icon name="create-outline"></ion-icon></a></td>
                    <td> <a href=""><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>





       
    </div>
    
    
    
</div>



<div class="containerCardForm" id="AddCard">
    <h2> add PC</h2>
    <div class="form-container">
        <form action="/addCard/{{row_id}}" method="POST">
            {% csrf_token %}
    
            {{ form }}
    
            <input type="submit" name="addCard" value="addCard" id="">
        </form>
        <button class="pbackbutton" id="hideAddCard">back</button>
    </div>
</div>


<div class="containerModal" id="containerModal">
    
    {% include "cards/modalhx.html" %}

    <div class="close-modal">
        <button class="close-modal" id="close-modal"><ion-icon name="close-outline"></ion-icon></button>
    </div>
</div>

<script defer src="{% static 'js/show_project.js' %}"></script>
{% endblock %}