
{% extends 'cards/indexup.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/show_project.css' %}">

<div class="container">
    <div class="container-header">
        <button class="showAddCardFormButton" id="showAddCardFormButton">addCard</button>
        <button class="showModalButton" id="show-modal">showmodal</button>
        <h1><span>project name: </span> {{project.name}}</h1>
        <h1><span>project id: </span> {{row_id}}</h1>
    </div>
    <div class="container-main">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Front</th>
                    <th>back</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td> {{card.id}}</td>
                    <td> {{card.title}}</td>
                    <td>
                        {% if card.front %}
    
                        <!-- <h3>{{ card.front }}</h3> -->
    
                        <img class="front" src="{{card.front.url}}" class="picsize">
    
                        {% else %}
    
                          {% if card.fronttext %}
                          <h1>{{card.fronttext}}</h1>
                          {% else %}
    
                          <h6>pup</h6>
                          {%endif%}
                        {% endif %}
                    </td>
                    <td>
                        {% if card.back %}
                        <!-- <h3>{{ card.back }}</h3> -->
                        <img class="back" src="{{card.back.url}}" class="picsize" >
                        {% else %}
    
                        {% if card.backtext %}
                        <h1>{{card.backtext}}</h1>
    
                        {% else %}
                        <h1>none</h1>
    
                        {% endif %}
                        {% endif %}
                    </td>
                    <td> <a href=""><ion-icon name="create-outline"></ion-icon></a></td>
                    <td> <a href=""><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>





       
    </div>
    
    
    
</div>



<div class="containerCardForm" id="AddCard">
    <h2> add PC</h2>
    <div class="form-container">
        <form action="/addCard/{{row_id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ form }}
    
            <button type="submit" class="subber">
                <ion-icon class="ionicon" name="checkmark-outline"></ion-icon>
            </button>
        </form>
        <button class="pbackbutton" id="hideAddCard">back</button>
    </div>
</div>


<div class="containerModal" id="containerModal">
    
    {% include "cards/modalhx.html" %}

    <div class="close-modal">
        <button class="close-modal" id="close-modal"><ion-icon name="close-outline"></ion-icon></button>
    </div>
</div>

<script defer src="{% static 'js/show_project.js' %}"></script>
<!-- hx rendern -->
<script src="https://unpkg.com/htmx.org@1.1.0"></script>
{% endblock %}