/* CONTAINER */

.body-main{
    width: 100%;
    height: calc(100vh - var(--header-height) - 5px);
    background: var(--medium-grey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.body-main .container-bm{
    height: 100%;
    width: 33%;
    background: var(--light-grey);
    border: 1px solid green;
    border-radius: var(--border-radius);
    min-width: 400px;
    margin: 1px;
}
