
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}
:root{
    --light-grey: rgb(38,38,38);
    --medium-grey: rgb(23, 23,23);
    --dark-grey: rgb(13,13,13);
    --border-radius: 10px;
    --border-radius-s:5px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#showProjectCard{
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 60px;
    width: 130px;
    background-color: grey;
    border: none;
    color: white;
    border-radius: var(--border-radius-s);
    font-size: 18px;
}
#showProjectCard:hover{
    cursor: pointer;
}

#showPCCard{
    position: absolute;
    left: 20px;
    bottom: 90px;
    height: 60px;
    width: 130px;
    background-color: grey;
    border: none;
    color: white;
    border-radius: var(--border-radius-s);
    font-size: 18px;
}

#showPCCard:hover{
    cursor: pointer;
}
.project{
    /* margin-top: 20px; */
    margin-left: 40px;
    margin-bottom: 20px;
    height: 5vh;
    min-height: 200px;
    min-width: 400px;
    background: #646464c4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    position: relative;
    transition: background-color .3s ease;
  
}
.project:hover{
    cursor: pointer;
    background-color: #929292d1;
}
.project .project-main{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
    border-bottom: 1px solid rgb(82, 82, 82);
    color: white;
    padding: 5px;
    /* position: relative; */

}
.project .project-main .info-container{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 10px;
    width: 80%;
    text-transform: capitalize;
}
.project .project-main .info-container h1{
    font-size: 18px;
}
.project .project-main .info-container h2{
    font-size: 15px;
}
.project .project-main .main-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 1000;
    width: 50px;
    height: 100%;
    
}
.project .project-main .forward-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
    width: 40px;
    border-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
}
.project .project-main .forward-btn:hover{
    cursor: pointer;
}
.project .project-main .main-icon ion-icon{
    height: 40px;
    width:40px;
    background-color: rgba(193, 193, 193, 0.449);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}
.project .project-bottom{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(82, 82, 82);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px 0 20px;
    /* position: relative; */
    transition: 0.3s ease;
    color: white;
}
.project .project-bottom:hover{
    height: 40%;
    
}
.project .project-bottom ion-icon{
    font-size: 30px;
    color: white;
}
.project .delete-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    /* border-radius: 50%; */
    height: -50px;
    width: -50px;
    /* background: red; */
    color: white;
}
.project .delete-btn:hover{
    cursor: pointer;
}


.container .header{
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    border-bottom: 1px solid black;
    background-color: var(--medium-grey);
}
.container .body-main{
    width: 100%;
    height: calc(100% - 80px);
    background-color: var(--light-grey);
    
}
.category{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-grey);
    /* background-color: orange; */
    width: 100%;
}
.category .category-header{
    background-color: var(--medium-grey);
    color: white;
    /* background-color: red; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px 0 20px;
}
.category .category-main{
    /* background-color: rgba(177, 177, 177, 0.281); */
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    /* background-color: blue; */
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    height: calc(100% - 100px);
    padding: 0  40px 0 40px;
    padding: 20px 0 0 0 ;
}


.containerProject{
    position: absolute;
    left: -100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    transition: left .3s ease;
}
.containerProject h2{
    font-size: 30px;
}
.containerProject .heading{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.containerProject .form-container{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .containerProject .form-container form ul{
    display: none;
} */



.containerProject .form-container .pbackbutton{
    background-color: rgb(255, 89, 89);
    border: none;
    position: absolute;
    left: -10px;
    bottom: -10px;  
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;

}
.containerProject .form-container .pbackbutton:hover{
    cursor: pointer;
}


.containerProjectCategory{
    position: absolute;
    left: -100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height:300px;
    border-radius: 20px;
    transition: left .3s ease;
}
.containerProjectCategory h2{
    font-size: 30px;
}
.containerProjectCategory .heading{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.containerProjectCategory .form-container{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerProjectCategory .form-container .pcBackButton{
    background-color: rgb(255, 89, 89);
    border: none;
    position: absolute;
    left: -10px;
    bottom: -10px;  
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}
.containerProjectCategory .form-container .pcBackButton:hover{
    cursor: pointer;
}