*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(59, 108, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin-top: 200px;
}
.container2{
    background: rgb(128, 105, 60);
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}