
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.body-main{
    width: 100%;
    height: calc(100vh - var(--header-height) - 5px);
    background: var(--medium-grey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.body-main .container-bm{
    height: 100%;
    width: 33%;
    background: var(--light-grey);
    border: 1px solid green;
    border-radius: var(--border-radius);
    min-width: 400px;
    margin: 1px;
    /* margin-bottom: 10px; */
}

.body-main .container-bm-first{
    background: var(--light-grey);
    width: calc(25% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 0px 0 10px 0;
    min-height: 900px;
    max-height: 2400px;
    min-width: 400px;
    margin-bottom: 10px;
}
.body-main .container-bm-first .filter_for{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--light-grey);
    width: 100%;
    border-radius: var(--border-radius);
    border-bottom: 1px solid var(--medium-grey);

}
.body-main .container-bm-first .filter_for h2{
    padding: 10px;
    font-size: 20px;
}
.body-main .container-bm-first .expenses_per_day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.body-main .container-bm-first .expenses_per_day_chart{
    height: 100%;
    width: 100%;
}

.body-main .container-bm-second{
    background: var(--medium-grey);
    width: calc(48% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    max-height: 2400px;
    min-height: 900px;
    min-width: 400px;
    margin: 0 5px 10px 5px;
}
.body-main .container-bm-second .second-container{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.body-main .container-bm-second .second-container .networth_per_day{
    padding: 10px 10px 10px 10px;
    background-color: var(--light-grey);
    min-height: 400px;
    height:50%;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
    
}
.body-main .container-bm-second .second-container .networth_per_day_chart{

    background-color: var(--light-grey);
    
    height: 100%;
    width: 100%;
}

.body-main .container-bm-second .second-container .average_networth_per_day{
    padding: 10px 10px 10px 10px;
    background-color: var(--light-grey);
    min-height: 400px;
    height: 50%;
    border-radius: var(--border-radius);
   
}
.body-main .container-bm-second .second-container .average_networth_per_day_chart{
    background-color: var(--light-grey);
    
    height: 100%;
    width: 100%;
}

.body-main .container-bm-third{
    background: var(--medium-grey);
    width: calc(25% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    max-height: 2400px;
    min-height: 900px;
    min-width: 400px;
    margin-bottom: 10px;
}
.body-main .container-bm-third .third-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--medium-grey);
    
    /* background-color: var(--medium-grey); */
}
.body-main .container-bm-third .third-container .donut_container{
    padding: 10px 10px 10px 10px;
    background-color: var(--light-grey);
    min-height: 400px;
    height: 50%;
    border-radius: var(--border-radius);
    
}

.body-main .container-bm-third .third-container .donut_container .donut{
    background-color: var(--light-grey);
    
    height: 100%;
    width: 100%;
}
.body-main .container-bm-third .third-container .PurposeList_container{
    padding: 10px 10px 10px 10px;
    background-color: var(--light-grey);
    min-height: 400px;
    height: 50%;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
}
.body-main .container-bm-third .third-container .PurposeList_container .PurposeList{
    background-color: var(--light-grey);
    
    height: 100%;
    width: 100%;
}

.containerAddExpense{
    position: fixed;
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    max-height: 1000px;
    background: rgba(88, 95, 164, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(88, 95, 164, 0.46);
    left: -100%;
    transition: left .3s ease;
}
.show-form{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-container{
    height: 100%;
    width: 100%;
}
.form-container form{
    height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.form-container form input{
    width: 70%;
    height: 50px;
}
input[type="submit"]{
    padding: 5px;
   
}
.form-container form select{
    width: 70%;
    height: 50px;
}
.incomeBackButton, .expenseBackButton{
    position: absolute;
    width: 80px;
    background-color: rgb(148, 50, 50);
    height: 40px;
    bottom: -25px ;
    left: -25px;
}

@media only screen and (max-width: 1760px) {
    
    .body-main .container-bm-first{
        width: calc(36% - 10px);
    }
    .body-main .container-bm-second{
        width: calc(60% - 10px);
    }
    .body-main .container-bm-third{
        width: 100%;
        padding: 0 20px 0 10px;
        height: 600px;
    }
    .body-main .container-bm-third .third-container{
        flex-direction: row;
        width: 100%;
        padding: 0 20px 0 20px;
       
    }
    .body-main .container-bm-third .third-container .PurposeList_container{
        width: 50%;
        margin-right: 10px;
    }
    .body-main .container-bm-third .third-container .donut_container{
        width: 50%;
    }
    
}

@media only screen and (max-width: 1460px) {
    .body-main .container-bm-first{
        max-height: 1200px;
    }
    .body-main .container-bm-second{max-height: 1200px;}
    .body-main .container-bm-third{max-height: 1200px;}

    
    
}
@media only screen and (max-width: 1000px) {
    .body-main .container-bm-first{
        width: 90%;
    }
    .body-main .container-bm-second{
        width: 90%;
    }
    .body-main .container-bm-third{
        width: 90%;
        padding: 0px;
    }
    .body-main .container-bm-third .third-container{
        padding: 0px;
    }
    .body-main .container-bm-second .second-container .networth_per_day{
        margin-bottom: 10px;
        
    }
}
@media only screen and (max-width: 1000px) {
    .body-main .container-bm-third .third-container{
        flex-direction: column;

    }
    .body-main .container-bm-third .third-container .PurposeList_container{
        width: 100%;
        margin-right: 0px;
    }
    .body-main .container-bm-third .third-container .donut_container{
        width: 100%;
        margin-top: 5px;
    }
}

